* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
    --fontSize: 15px;
    --fontFamily: 'Outfit', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    
    background-color: var(--slate300);
    font-family: var(--fontFamily);
    font-size: var(--fontSize);

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.qrcode {
    width: 90%;
    max-width: 450px;
    margin: auto;

    /* max-width: 400px;
    max-height: 650px; */

   /*  max-width: 500px;
    max-height: 650px; */
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--white);
    border-radius: 15px;

    padding: 2rem;
    gap: 1.5rem;

}
.qrcode__img {
    width: 100%;
    aspect-ratio: 1 / 1;


    background-image: url(images/image-qr-code.png);
    background-size: cover;
    background-position: center;

    border-radius: 15px;
    
}
.qrcode__title {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
    text-align: center;

    color: var(--slate900);
}
.qrcode__p {
    font-weight: 400;
    color: var(--slate500);
    font-size: clamp(0.85rem, 1.5vw, 1.5rem);
    margin-bottom: 15px;
    text-align: center;
}
